* {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
}

.navbar-brand > a {
  text-decoration: none;
}

.navbar-brand > a:visited {
  color: inherit;
}

.navbar-brand > a:hover {
  color: inherit;
}

.add-channel-button {
  width: 20px;
  line-height: 20px;
  padding: 0px 0px 2px 0px;
}

.scroll-bottom-button {
  top: 18px;
  right: 5%;
  padding: 10px 12px;
}
